#conversation {
    border: 1px solid lightgrey;
    height: 50vh;
    padding: 3px;
    overflow: auto;
}

#conversation > .row {
    margin-bottom: 0px;
    margin-right: 0px;
}

.col.message-time {
    padding-right: 3px;
    color: rgb(158, 158, 158);
}
.col.message-content {
    padding-left: 0;
}

.send-message.btn {
    padding: 0 1.5rem;
}

.input-field > .prefix {
    padding-top: 10px;
    opacity: 0.6;
}

.input-field > .prefix.active {
    opacity: 1;
}

@media (min-width: 1400px) {
    .modal {
        width: 33%;
    }
}

#nickname {
    margin-top: 10px;
    width: 100%
}

#nickname-wrapper {
    padding: 0px;
}

.row .col.message-nickname {
    padding: 0 .25rem 0 .1rem;
    color: rgb(0,156,179);
}

#nb-personnes {
    font-weight: bold;
}

#reset-app {
    position: absolute;
    top: 0px;
    left: 0px;
}

#participants {
    border: 1px solid lightgrey;
    height: 50vh;
}

#liste-participants > .participant::before {
    content: "- ";
}